# Archive files
*.zip
*.tar
*.tar.gz
*.tgz
*.tar.bz2
*.tar.xz


# PyTorch model files
*.pt
*.pth
*.ckpt

# Data/config files
*.json
*.xml
*.csv

# Image files
*.JPEG
*.jpeg
*.jpg
*.JPG
*.PNG

# Checkpoint and model folders
checkpoint*/
bestmodel*/
tinyModels/checkpoint*/
tinyModels/bestmodel*/

#pychce 
*.pyc